OdeToFoodGit/OdeToFoodGit/App_Data/aspnet-OdeToFoodGit-20140505130723.mdf
OdeToFoodGit/OdeToFoodGit/App_Data/aspnet-OdeToFoodGit-20140505130723_log.ldf
OdeToFoodGit/OdeToFoodGit.Tests/obj/Debug/build.force
OdeToFoodGit/OdeToFoodGit.v11.suo
OdeToFoodGit/OdeToFoodGit.v11.suo.BACKUP.9644.suo
OdeToFoodGit/OdeToFoodGit.v11.suo.BASE.9644.suo
OdeToFoodGit/OdeToFoodGit.v11.suo.LOCAL.9644.suo
OdeToFoodGit/OdeToFoodGit.v11.suo.REMOTE.9644.suo
OdeToFoodGit/OdeToFoodGit.v11.suo
